.back-btn {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  height: 40px;
  position: fixed;
  right: -7px;
  top: 32vh;
  width: 50px;
}

.back-btn img {
  transform: rotate(180deg);
  width: 20px;
}
