.container-btnStart {
  align-content: center;
  display: flex;
  justify-content: center;
  min-width: 100%;
  z-index: 10;
}

.btnStart {
  align-items: center;
  background: black;
  border: none;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.03em;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;
}
