.card-container {
  align-items: center;
  background-color: black;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  margin: 1vh;
  padding: 3vw;
  text-align: center;
}

.card-container img {
  width: 130px;
}

.card-container p {
  color: white;
  font-size: 0.7em;
  font-weight: 900;
}
