* {
  margin: 0;
  padding: 0;
}

.login-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 30vw;
  position: absolute;
  top: 10vh;
}

.login-image img {
  filter: drop-shadow(0 0 0.75rem #00a1d2);
  width: 150px;
}

.login-image h1 {
  color: white;
  font-style: italic;
  font-weight: 200;
}

.images-line {
  align-self: center;
  display: flex;
  justify-items: center;
  position: absolute;
}

.images-line img {
  filter: drop-shadow(0 0 0.35rem #00a1d2);
  margin: 3px;
  width: 20px;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 16vw;
  padding-top: 10vh;
  position: absolute;
}

.login-title {
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 5vh;
}

.input-login {
  border: 0.5px solid #196b7f;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 9px;
  padding: 14px 20px 12px;
  width: 250px;
}

.input-login::placeholder {
  color: #41197f;
  font-size: 14px;
  line-height: 14px;
}

.login-botton {
  all: unset;
  background-color: #00a1d2;
  border-radius: 5px;
  color: white;
  filter: drop-shadow(0 0 0.65rem #00a1d2);
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
}

.login-botton:disabled {
  background-color: #00a1d280;
  color: rgba(255, 255, 255, 0.555);
}

@media screen and ( max-height : 500px ) {

  .images-line {
    display: none;
  }
}
