* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.login-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.login-image img {
  filter: drop-shadow(0 0 0.75rem #00a1d2);
  padding-top: 5vh;
  width: 150px;
}

.login-image h1 {
  color: white;
  font-style: italic;
  font-weight: 200;
}

.images-line {
  display: flex;
  justify-items: center;
  padding-top: 5vh;
}

.images-line img {
  filter: drop-shadow(0 0 0.35rem #00a1d2);
  margin-left: 10px;
  width: 20px;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20vw;
}

.login-title {
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 19px;
}

.input-login {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 9px;
  padding: 14px 20px 12px;
  width: 276px;
}

.input-login::placeholder {
  color: #41197f;
  font-size: 14px;
  line-height: 14px;
}

.login-botton {
  all: unset;
  background-color: #00a1d2;
  border-radius: 5px;
  color: white;
  filter: drop-shadow(0 0 0.65rem #00a1d2);
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 276px;
}

.login-botton:disabled {
  background-color: #00a1d280;
  color: rgba(255, 255, 255, 0.555);
}
