* {
  font-family: Poppins , sans-serif;
}

.container {
  margin: 0;
  margin-bottom: 5vh;
  padding: 0;
}

.recipe-photo {
  filter: brightness(65%);
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}

.recipe-title {
  color: white;
  font-size: 20px;
  font-weight: 900;
  height: 21px;
  left: 17vw;
  letter-spacing: 0.105em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 13vh;
  width: 250px;
}

.recipe-category {
  color: white;
  font-size: 0.9em;
  font-weight: 900;
  height: 33px;
  left: 17.01px;
  position: absolute;
  top: 14px;
  width: 150px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.ingredients ul {
  border: rgba(128, 128, 128, 0.459) 1px solid;
  border-radius: 10px;
  margin-right: 5vw;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-top: 3vh;
}

.ingredients li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  list-style: square;
  margin-bottom: 10px;
}

.instructions {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: justify;
}

.instructions h4 {
  align-self: flex-start;
  padding-left: 20px;
}

.instructions p {
  border: rgba(128, 128, 128, 0.459) 1px solid;
  border-radius: 10px;
  color: #1a1b1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 5vh;
  padding: 4vw;
  width: 90%;
}

.slider-container {
  left: 7vw;
  position: relative;
  width: 85%;
}

.slider {
  left: 5vw;
  width: 90%;
}

.item {
  align-items: center;
  animation: items 15s forwards infinite;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  height: 33vh;
}

@keyframes items {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.item img {
  width: 120px;
}

.item h1 {
  font-size: 1em;
  font-weight: 700;
}

.alert {
  align-items: center;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  font-weight: 900;
  height: 30px;
  justify-items: center;
  left: 60vw;
  position: absolute;
  top: 50px;
  width: 120px;
}

@media screen and ( min-width : 425px ) {

  .recipe-title {
    left: 20vw;
  }
}

@media screen and ( min-width : 768px ) {

  .recipe-title {
    left: 35vw;
  }

  .ingredients ul {
    margin-left: 2vw;
  }

  .alert {
    left: 69vw;
  }
}

@media screen and ( min-width : 1024px ) {

  .recipe-title {
    font-size: 30px;
    left: 40vw;
  }

  .ingredients ul {
    margin-left: 3vw;
  }

  .alert {
    left: 70vw;
  }
}

@media screen and ( min-width : 1440px ) {

  .recipe-title {
    font-size: 30px;
    left: 40vw;
  }

  .ingredients ul {
    margin-left: 3.5vw;
  }

  .ingredients {
    margin-left: 2vw;
  }

  .instructions {
    margin-left: 2vw;
  }

  .alert {
    left: 72vw;
  }
}

@media screen and ( min-width : 2560px ) {

  .recipe-category {
    font-size: 1.5em;
    left: 3vw;
  }

  .recipe-title {
    font-size: 50px;
    left: 45vw;
    top: 5vh;
  }

  h4 {
    font-size: 2em;
  }

  .ingredients ul {
    margin-left: 4vw;
  }

  .ingredients li {
    font-size: 1.5em;
    line-height: 3vh;
  }

  .instructions {
    margin-left: 2vw;
  }

  .instructions p {
    font-size: 1.5em;
  }

  .item img {
    width: 10vw;
  }

  .item h1 {
    font-size: 1.5em;
  }

  .alert {
    left: 73vw;
  }
}

