* {
  justify-content: center;
}

.searchBarDiv {
  align-items: center;
  align-self: center;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  min-width: 330px;
  width: 90%;
}

.searchBarInput {
  border: 1px solid gray;
  border-radius: 6px;
  height: 2rem;
  justify-self: center;
  margin-top: 2vh;
  width: 90%;
}

.searchBarInput::placeholder {
  padding: 7vw;
  text-align: center;
}

.searchBarRadio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.searchBarRadio label {
  display: flex;
  font-size: small;
  margin: 5px 0;
  width: 26%;
}

.span-radio {
  color: white;
  line-height: 1.5rem;
  margin-left: 4px;
}

.searchBarButton {
  background-color: #00a1d2;
  border-radius: 6px;
  color: white;
  font-size: medium;
  font-weight: 700;
  height: 1.7rem;
  margin-bottom: 8px;
  width: 70%;
}

@media screen and ( min-width : 1440px ) {

  .searchBarInput::placeholder {
    font-size: 1.4em;
  }

  .searchBarDiv {
    margin-top: 2vh;
  }

  .span-radio {
    font-size: 1.3em;
  }
}

@media screen and ( min-width : 2560px ) {

  .searchBarDiv {
    margin-top: 5vh;
  }

  .searchBarInput {
    height: 4rem;
  }

  .searchBarInput::placeholder {
    font-size: 2.4em;
  }

  .span-radio {
    font-size: 2.5em;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  .searchBarButton {
    font-size: 2em;
    height: 4rem;
  }
}
